@charset "UTF-8";
/*
*カラー
*/
/*
*メインサイズ
*/
body {
  background: #F5F5F5;
  color: #4D4D4D;
  margin-right: auto;
  margin-left: auto;
  max-width: 550px;
  min-width: 550px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

h1 {
  color: #F5E0E0;
  font-size: 80px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

input {
  color: #4D4D4D;
  font-size: 24px;
  outline: none;
  border: none;
  margin: 15px;
}

footer {
  text-align: center;
  margin: 50px;
}

#maincontent {
  border: solid 1px #ededed;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

#input-group {
  padding: 10px;
  height: 50px;
  border-bottom: solid 1px #ededed;
}

#allCerect {
  border-left: 3px solid #d9d9d9;
  border-bottom: 3px solid #d9d9d9;
  transform: rotate(-45deg);
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  float: left;
}

::placeholder {
  color: #d9d9d9;
}

#mainlist {
  margin: auto;
  padding: 0px;
}

#mainlist li {
  font-size: 24px;
  list-style: none;
  border-bottom: solid 1px #ededed;
}

.checkbtn {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border: solid 1px #ededed;
  border-radius: 50%;
  margin-top: 10px;
}

.checkbtn img {
  display: none;
}

.checkicon {
  width: 40px;
  height: 40px;
}

li.checked .checkbtn img {
  display: block;
}

li:hover .deletebtn {
  display: inline-block;
}

.task {
  position: absolute;
  margin: 15px 0px  0px 10px;
  display: inline-block;
}

li.checked .task {
  color: #d9d9d9;
  text-decoration: line-through;
}

.deletebtn {
  display: none;
  padding-right: 10px;
  margin: 10px;
  float: right;
  background: none;
  color: #cc9a9a;
  font-size: 30px;
}

.deletebtn:hover {
  color: #af5b5e;
}

#subcontent {
  padding: 5px;
  height: 40px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

#subcontent li {
  list-style: none;
  display: inline-block;
}

.selectgroup {
  display: inline-block;
  margin-left: 30px;
}

.selectgroup a {
  text-decoration: none;
  text-align: center;
  color: #777;
  margin: 0px 10px;
}

.count {
  display: inline-block;
  color: #777;
  margin: 10px 10px 10px 15px;
}

.clearComp {
  margin: 15px 10px 10px 10px;
  color: #777;
  float: right;
}

.clearComp:hover {
  border-bottom: #777 1px solid;
}
