@charset "UTF-8";

/*
*メインカラー
*/
$main_text_color: #4D4D4D;
$off_text_color: #ccc;
$sub_text_color: #d9d9d9;
$sub_content_color: #777;
$main_border: solid 1px #ededed;

/*
*メインサイズ
*/
$main_list_width: 40px;
$main_list_height: 40px;
$main_text_size: 14px;

body {
  background: #F5F5F5;
  color: $main_text_color;
  margin-right: auto;
  margin-left : auto;
  max-width: 550px;
  min-width: 550px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $main_text_size;
}

h1 {
  color: #F5E0E0;
  font-size: 80px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

input {
  color: $main_text_color;
  font-size: $main_text_size +10px;
  outline: none;
  border: none;
  margin: 15px;
}

footer {
  text-align: center;
  margin: 50px;
}

#maincontent {
  border: $main_border;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

#input-group {
  padding: 10px;
  height: 50px;
  border-bottom: $main_border;
}

#allCerect {
  border-left: 3px solid $sub_text_color;
  border-bottom: 3px solid $sub_text_color;
  transform: rotate(-45deg);
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  float: left;
}

::placeholder {
  color: $sub_text_color;
}

#mainlist {
  margin: auto;
  padding: 0px;
    li {
      padding: 10px;
      font-size: $main_text_size +10px;
      height: 50px;
      width: 550px;
      list-style: none;
      border-bottom: $main_border;
    }
}

.checkbtn {
  width: $main_list_width;
  height: $main_list_height;
  border: $main_border;
  border-radius: 50%;
  margin-top: 10px;
    img {
     display:none;
        }
}

.checkicon {
  width: $main_list_width;
  height: $main_list_height;
}

li.checked .checkbtn img {
  display: block;
}

li:hover .deletebtn {
  display: inline-block;
}

.task {
  display: inline-block;
}

li.checked .task {
  color: $sub_text_color;
  text-decoration: line-through;
}

.deletebtn {
  display: none;
  padding-right: 10px;
  margin: 10px;
  float: right;
  background: none;
  color: #cc9a9a;
  font-size: 30px;
    &:hover {
      color: #af5b5e;
    }
}



.btn {
  height: 50px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
    li {
      list-style: none;
      display: inline-block;
      padding: 10px;
    }
}

.subcnt {
    display: inline-block;
    a {
      text-decoration: none;
      color: $sub_content_color;
   }
}

#count {
  display: inline-block;
  color: $sub_content_color;
  margin: 10px;
}

#clearComp {
  margin: 15px 10px 10px 10px;
  color: $sub_content_color;
  float: right;
    &:hover {
      border-bottom: $sub_content_color 1px solid;
    }
}
