@charset "UTF-8";

body{
  background: #F5F5F5;
  color:#4D4D4D;
  margin-right: auto;
  margin-left : auto;
  max-width: 550px;
  font:14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
}
h1{
  color: #F5E0E0;
  font-size: 80px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}
.maincontent{
  border: solid 1px #ededed;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.input-group{
  border-bottom: solid 1px #ededed;
}
#allCerect{
  padding: 0;
  margin: 0 9px;
  border: solid 1px #ededed;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
input{
  color:#4D4D4D;
  padding: 10px;
  font-size: 24px;
  height: 50px;
  outline: none;
  border: none;
}
.mainlist{
  margin: auto;
  padding: 0px;
}
#checkbtn{
  /* margin: 0 9px; */
  display:inline;
  width: 50px;
  height: 50px;
  border: solid 1px #ededed;
  border-radius: 50%;
}
.list{
  display:inline;
  width: 460px;
  padding: 10px;
}
.mainlist li{
  padding: 10px;
  font-size: 24px;
  height: 50px;
  width: 550px;
  list-style: none;
  border-bottom: solid 1px #ededed;
}
#deletebtn{
  display:inline-block;
  width: 50px;
  height: 50px;
}
.btn{
  padding-left: 0;
  margin: auto;
  height: 50px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.btn li{
  list-style: none;
  display: inline-block;
  padding: 15px;
}
#count{
  padding-right: 60px;
}
li #count{
  text-align: left;
}
a{
  text-decoration: none;
  color:#777;
  /* color: #AFAFAF; */
}
.btn li{
  color: #777;
}
.btn li:last-child{
  float: right;
}
footer {
  text-align: center;
  margin: 50px;
}






}
